:root {
  --font-family: 'Lucida Console', 'Courier New', monospace;
  --font-size: 16px;

  --navbar-height: 50px;

  --cadmus-background-colour: #f4f6f8; /* Anti-flash 'white' */
  --cadmus-font-colour: #1f1f1f;

  --cadmus-link-colour: #b05923; /* Titian */

  --primary-background-colour: #b05923;
  --primary-constrast-colour: #fff;

  --disabled-background: #757575;
  --disabled-colour: #fff;

  --danger-colour: #b22222;
  --danger-constrast-colour: #000;
  --warning-colour: #ffa500;
  --muted-colour: #757575;

  font-size: var(--font-size);
  font-family: var(--font-family);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cadmus-background-colour: #1f1f1f;
    --cadmus-font-colour: #fff;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--cadmus-background-colour);
  color: var(--cadmus-font-colour);
  min-height: 100vh;
}

a {
  color: var(--cadmus-link-colour);
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.main {
  padding: 1rem;
  padding-top: calc(1rem + var(--navbar-height));
  min-height: 100vh;
}
