.form {
  padding: 1rem;
  border: 1px solid var(--primary-background-colour);
  margin: 1rem 0;
}

.form > * {
  margin-right: 25px;
}

.label {
  color: var(--muted-colour);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.input {
  background: inherit;
  border: none;
  border-bottom: 1px solid var(--primary-background-colour);
}
