.bookTable td,
.bookTable th {
  padding: 0.25rem;
}

.bookTable tbody tr:not(.noHover):hover {
  background-color: var(--primary-background-colour);
  color: var(--primary-constrast-colour);
}

.bookTable th {
  text-align: right;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .bookTable th {
    text-align: left;
  }
}

/* BooksSeries form */
.form {
  display: flex;
  align-items: center;
}
.form > *:not(:last-child) {
  margin-right: 25px;
}

.label {
  color: var(--muted-colour);
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.select {
  background: inherit;
  border: none;
  border-bottom: 1px solid var(--primary-background-colour);
}
