.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--primary-background-colour);
  z-index: 100;
}

.navbar__link {
  color: var(--primary-constrast-colour);
  margin-right: 10px;
}

.imageContainer {
  padding: 0 5px;
}
