.listItem {
  display: flex;
  gap: 5px;
  padding: 5px;
}
.listItem :global(.dates) {
  color: var(--muted-colour);
  font-size: 0.8rem;
  padding: 2px 0;
}

.dragHandle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px dotted transparent;
  cursor: pointer;
}
.dragHandle:hover {
  border-color: var(--muted-colour);
}

.core {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fill-available;
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.showAllBtn {
  width: 100%;
}
