.listItem {
  display: flex;
  padding: 5px;
}
.listItem :global(.dates) {
  color: var(--muted-colour);
  font-size: 0.8rem;
  padding: 2px 0;
}

.core {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fill-available;
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
