/* General table styles */
.table {
  border-collapse: collapse;
  height: fit-content; /* Required to allow div's in td to height: 100% */
  cursor: default;
  width: 100%;
}
.table th,
.table td {
  padding: 0.25rem;
}

.table tbody tr {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  border-color: var(--muted-colour);
}
.expandedRow {
  border-color: transparent !important;
}

/* Columns */

.title {
  text-align: left;
}

.numberStat {
  text-align: right;
}

.repeatsButton {
  height: 100%;
  min-width: 25px;
  box-shadow: none !important;
}
.repeatsButton:focus,
.repeatsButton:hover {
  text-decoration: underline;
}

.dateBlocks {
  display: grid;
  gap: 5px;
  margin: 5px 0;
}
