/* General table styles */
.table {
  border-collapse: collapse;
  height: fit-content; /* Required to allow div's in td to height: 100% */
  cursor: default;
  width: 100%;
  table-layout: fixed;
}
.table th,
.table td {
  padding: 0.25rem;
}

.table tbody tr {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  border-color: var(--muted-colour);
}
.table tbody tr:hover {
  background-color: var(--primary-background-colour);
  color: var(--primary-constrast-colour);
}

/* Columns */

.year {
  font-weight: bold;
  text-align: center;
}

.total {
  border-left: 1px dotted;
  text-align: right;
}
.numberStat {
  text-align: right;
}
