.container {
  padding: 10px 0;
}

.table {
  width: 100%;
}
.table button {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  box-shadow: none;
}
.table button:disabled {
  background: none !important;
  cursor: default;
}

.headerControls {
  display: flex;
}
.headerControls button {
  font-weight: bold;
  font-size: 1.2rem;
}

.headerButton {
  font-weight: bold;
  padding: 5px;
  border: 1px solid transparent;
}
.headerButton:active,
.headerButton:focus,
.headerButton:hover {
  background-color: var(--history-count-header-cell-background-colour);
  border-color: var(--table-border-colour);
}

.cellButton {
  border: 1px solid var(--table-border-colour);
}
.cellButton > div {
  background-color: var(--history-count-cell-background-colour);
  width: 100%;
  height: 100%;
  padding: 5px;
}
