/* General table styles */
.table {
  border-collapse: collapse;
  height: fit-content; /* Required to allow div's in td to height: 100% */
  cursor: default;
  width: 100%;
}
.table th,
.table td {
  padding: 0.25rem;
}

.table tbody tr {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  border-color: var(--muted-colour);
}
.expandedRow {
  border-color: transparent !important;
}

/* Columns */

.sortIcon {
  display: inline-block;
  min-width: 10px;
  margin-left: 5px;
}

.title {
  text-align: left;
}

.numberStat {
  text-align: right;
}

.repeatsButtonHeader,
.repeatsButton {
  height: 100%;
  min-width: 25px;
  box-shadow: none !important;
}
.repeatsButtonHeader:focus,
.repeatsButtonHeader:hover,
.repeatsButton:focus,
.repeatsButton:hover {
  text-decoration: underline;
}

.repeatsButtonHeader {
  font-weight: bold;
  font-size: 1rem;
  margin-right: -15px;
}

.dateBlocks {
  display: grid;
  gap: 5px;
  margin: 5px 0;
}
