.bookInfo strong {
  margin-right: 25px;
}

.muted {
  color: var(--muted-colour);
}

.form {
  float: right;
}

.wrapper {
  display: flex;
  margin: 25px 0;
}

.image {
  margin-right: 25px;
}

.historyInfo {
  margin: 25px 0;
}
