/* General table styles */
.table {
  border-collapse: collapse;
  height: fit-content; /* Required to allow div's in td to height: 100% */
  cursor: default;
}
.table th,
.table td {
  padding: 0.25rem;
}
.table tbody tr {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
  border-color: var(--muted-colour);
}
.table tbody tr:hover {
  background-color: var(--primary-background-colour);
  color: var(--primary-constrast-colour);
}

/* Page styles */
.grid {
  margin: 1rem 0;
  display: grid;
}

.year {
  font-weight: bold;
}

.total {
  border-left: 1px dotted;
  text-align: center;
}
.numberStat {
  text-align: right;
}

.section {
  margin: 1.5rem 0;
}

.sectionTitle {
  margin: 1rem 0;
}

.yearsAgo {
  text-align: center;
}

/* Responsive adjustments */
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .table td {
    padding-left: 40% !important;
  }

  .yearsAgo {
    text-align: unset;
  }
}
